.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  
    &__wrap {
      padding: 0 50px;
      min-height: 1px;
      overflow-x: auto;
      margin-bottom: 30px;
    }
  
    &__bord {
      display: table;
      min-width: 100%;
      box-sizing: border-box;
      border-radius: 5px;
      border: 1px solid #D3D5DC;
    }
  
    tr {
      &:first-child {
        td, th {
          border-top: none;
        }
      }
      &:last-child {
        td, th {
          border-bottom: none;
        }
      }
    }
    td, th {
      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
    }
  
    &__header {
      &__cell {
        padding: 14px 15px;
        border: 1px solid #D3D5DC;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: normal;
        background-color: rgba(221,221,230,.5);
        color: #2A2A30;
        white-space: nowrap;
      }
    }
  
    &__body {
      &__cell {
        padding: 21px 15px;
        font-size: 12px;
        line-height: 1.33;
        border: 1px solid #D3D5DC;
        text-align: center;
      }
      &--empty {
        padding: 20px 15px;
        font-size: 12px;
        border: 1px solid #D3D5DC;
        text-align: center;
      }
    }
  }
  
  .dropdown {
    width: 150px;
    margin: 0 auto;
  }

  .text {
    display: inline-block;
    padding-bottom: 10;
  }

  .dropDownContainer {
    display: 'flex';
    flex-direction: 'row';
    flex-wrap: nowrap;
    justify-content: 'center';
    align-items: 'center';
  }

  .image {
    display: inline-block;
    padding-top: 7px;
    float: right;
  }